{% if number < 1 %}
   <div class='center'>
      <table class='tab_cadre_fixe'>
      <tr><th>{{ __('There is no task status yet', 'flyvemdm') }}</th></tr>
      </table>
   </div>
   <br>
{% else %}
   {{ pager|raw }}
   <div class='center'>
      <table class='tab_cadre_fixehov'>
         <tr>
            <th>{{ __('ID') }}</th>
            <th>{{ __('Policy', 'flyvemdm') }}</th>
            <th>{{ __('Status', 'flyvemdm') }}</th>
            <th>{{ __('Application date', 'flyvemdm') }}</th>
            <th>{{ __('Last change date', 'flyvemdm') }}</th>
         </tr>
         {% for taskstatus in taskstatuses %}
         {% if loop.index > start and loop.index <= stop %}
            <tr class='tab_bg_2'>
               <td><div class="center">{{ taskstatus.id }}</div></td>
               <td><div class="center">{{ __(taskstatus.name, 'flyvemdm') }}</div></td>
               <td><div class="center">{{ taskstatus.status }}</div></td>
               <td><div class="center">{{ taskstatus.date_creation }}</div></td>
               <td><div class="center">{{ taskstatus.date_mod }}</div></td>
            </tr>
         {% endif %}
         {% endfor %}
         <tr>
            <th>{{ __('ID') }}</th>
            <th>{{ __('Policy', 'flyvemdm') }}</th>
            <th>{{ __('Status', 'flyvemdm') }}</th>
            <th>{{ __('Application date', 'flyvemdm') }}</th>
            <th>{{ __('Last change date', 'flyvemdm') }}</th>
         </tr>
      </table>
   </div>
{% endif %}