{% if number < 1 %}
   <div class='center'>
      <table class='tab_cadre_fixe'>
      <tr><th>{{ __('There is no agent yet', 'flyvemdm') }}</th></tr>
      </table>
   </div>
   <br>
{% else %}
   {{ pager_top|raw }}
   <div class='center'>
      <table class='tab_cadre_fixehov'>
         <tr>
            <th>{{ __('ID') }}</th>
            <th>{{ __('Name') }}</th>
         </tr>
         {% for agent in agents %}
         {% if loop.index > start and loop.index <= stop %}
         <tr class='tab_bg_2'>
            <td><div class="center">{{ agent.id }}</div></td>
            <td><div class="center"><a href="{{ agentUrl }}?id={{ agent.id }}">{{ agent.name }}</a></div></td>
         </tr>
         {% endif %}
         {% endfor %}
      </table>
   </div>
   {{ pager_bottom|raw }}
{% endif %}