<tr class='tab_bg_1'>
   <td>
      {{ __('Name') }}{{ withTemplate }}
   </td>
   <td>
      {{ agent.name|raw }}
   </td>
   <td>
      {{ __('Version') }}
   </td>
   <td>
      <input type="text" name="version" value="{{ agent.version }}">
   </td>
</tr>
<tr class='tab_bg_1'>
   <td>
      {{ __('Computer') }}
   </td>
   <td>
      {{ agent.computer|raw }}
   </td>
   <td>
      {{ __('Fleet', 'flyvemdm') }}
   </td>
   <td>
      {{ agent.fleet|raw }}
   </td>
</tr>
<tr class='tab_bg_1'>
   <td>
      {{ __('Is online', 'flyvemdm') }}
   </td>
   <td>
      {{ agent.is_online|raw }}
   </td>
   <td>
      {{ __('Last contact', 'flyvemdm') }}
   </td>
   <td>
      {{ agent.last_contact }}
   </td>
</tr>
<tr class="tab_bg_1">
   <td>{{ __('Notification type', 'flyvemdm') }}</td>
   <td>{{ agent.notification_type|upper }}</td>
</tr>
{% if canUpdate == true %}
    <tr class="tab_bg_1">
        <th colspan="4" class="subheader">{{ __('Actions', 'flyvemdm') }}</th>
    </tr>
    <tr class='tab_bg_2'>
        <td align="center">
            {{ pingButton|raw }}
        </td>
        <td align="center">
            {{ rebootButton|raw }}
        </td>
        <td align="center">
            {{ geolocateButton|raw }}
        </td>
        <td align="center">
            {{ inventoryButton|raw }}
        </td>
    </tr>
{% endif %}
