<tr class='tab_bg_1'>
	<td>{{ __('Name') }}{{ withTemplate }}</td>
	<td><input type="text" name="name" value="{{ fdroidmarket.name }}"></td>
	<td>{{ __('URL', 'flyvemdm') }}</td>
	<td><input type="text" name="url" value="{{ fdroidmarket.url }}"></td>
</tr>
