<tr class='tab_bg_1'>
   <td>
      {{ __('Name') }}{{ withTemplate }}
   </td>
   <td>
      {{ fleet.name|raw }}
   </td>
   <td>
      {{ __('Is managed', 'flyvemdm') }}{{ withTemplate }}
   </td>
   <td>
      {{ fleet.is_default }}
   </td>
</tr>
