{% if isNewID == true %}
<tr>
   <td>
      {{ __('User') }}
   </td>
   <td>
      {{ invitation.user|raw }}
   </td>
</tr>
{% else %}
<tr>
   <td>
      {{ __('Expiration date', 'flyvemdm') }}{{ withTemplate }}
   </td>
   <td>
      {{ invitation.expiration_date|raw }}
   </td>
   <td>
      {{ __('status', 'flyvemdm') }}{{ withTemplate }}
   </td>
   <td>
      {{ invitation.status }}
   </td>
</tr>
<tr>
  <td>
     {{ resendButton|raw }}
   </td>
</tr>
{% endif %}
