<tr>
    <td>{{ files.dropdown | raw }}</td>
</tr>
<tr>
    <td>
        {{ __('Copy to', 'flyvemdm') }}
        {{ files.knownPath | raw }}
    </td>
    <td><input type="text" name="value[destination]" value="{{ files.destination }}" /></td>
</tr>
<tr>
    <td>{{ __('Remove when the policy is removed', 'flyvemdm') }}</td>
    <td>{{ remove | raw }}</td>
    <td><input type="hidden" name="itemtype" value="{{ files.itemtype }}" /></td>
</tr>